<div class="content">
  <div class="weolcome-buttons">
    <div class="bienvenido-nuevamente-john-doe">
      ¡Bienvenido nuevamente {{userInfo.firstName}} {{userInfo.lastName}}!
    </div>
  </div>
  <div class="rectangle-318"></div>
  <div class="frame-62">
    <div class="frame-59">
      <div class="save-goal">
        <div class="_1-er-plan">1er Plan</div>
        <div class="_100-00">$100.00</div>
        <div class="cumplea-os-javier">Cumpleaños javier</div>
      </div>
      <img class="icons" src="/assets/icons/plus-circle.svg" />
    </div>
    <div class="frame-60">
      <div class="save-goal">
        <div class="_2-er-plan">2er Plan</div>
        <div class="_500-00">$500.00</div>
        <div class="viaje-roma">Viaje Roma</div>
      </div>
      <img class="icons2" src="/assets/icons/plus-circle.svg" />
    </div>
    <div class="frame-61">
      <div class="save-goal2">
        <div class="_3-er-plan">3er Plan</div>
        <div class="_9-457-00">$9,457.00</div>
        <div class="comprar-carro">Comprar Carro</div>
      </div>
      <img class="icons3" src="/assets/icons/plus-circle.svg" />
    </div>
  </div>
  <div class="rectangle-319"></div>
  <div class="rectangle-324"></div>
  <div class="_12">12%</div>
  <div class="categor-a-terciaria">
    Categoría
    <br />
    Terciaria
  </div>
  <div class="rectangle-323"></div>
  <div class="_20">20%</div>
  <div class="categor-a-secundaria">
    Categoría
    <br />
    Secundaria
  </div>
  <div class="ellipse-91"></div>
  <div class="ellipse-103"></div>
  <div class="ellipse-93"></div>
  <div class="ellipse-92"></div>
  <div class="_15">15%</div>
  <div class="_202">20%</div>
  <div class="_122">12%</div>
  <div class="ellipse-94"></div>
  <div class="ellipse-95"></div>
  <div class="ellipse-96"></div>
  <div class="s-3-925">S/. 3,925</div>
  <div class="rectangle-320"></div>
  <div class="rectangle-321"></div>
  <div class="contact-details">
    <img class="ellipse-3" src="/assets/icons/user.svg" />
    <div class="frame-16">
      <div class="contact-name">Esther Howard</div>
      <div class="e-mail">Fecha de pago: 6/19/14</div>
    </div>
    <div class="text">$396.84</div>
  </div>
  <div class="contact-details2">
    <img class="ellipse-3" src="/assets/icons/user.svg" />
    <div class="frame-16">
      <div class="contact-name">Cody Fisher</div>
      <div class="e-mail">Fecha de pago: 9/23/16</div>
    </div>
    <div class="text">$779.58</div>
  </div>
  <div class="contact-details3">
    <img class="ellipse-3" src="/assets/icons/user.svg" />
    <div class="frame-16">
      <div class="contact-name">Ronald Richards</div>
      <div class="e-mail">Fecha de pago: 2/11/12</div>
    </div>
    <div class="text">$328.85</div>
  </div>
  <div class="movimientos">Movimientos:</div>
  <div class="rectangle-322"></div>
  <div class="categor-a-primaria">
    Categoría
    <br />
    Primaria
  </div>
  <div class="_152">15%</div>
  <div class="rectangle-325"></div>
  <div class="_24th">
    <span>
      <span class="_24th-span">24</span>
      <span class="_24th-span2">th</span>
    </span>
  </div>
  <div class="mayo">mayo</div>
  <div class="monto-500-00">Monto: $500.00</div>
  <div class="recordatorio-cumple-mam">Recordatorio: Cumple Mamá</div>
  <div class="contacto-de-empleados">Contacto de empleados</div>
  <div class="frame-58">
    <div class="expenses">
      <div class="gastos-este-mes">
        <span>
          <span class="gastos-este-mes-span">
            Gastos
            <br />
          </span>
          <span class="gastos-este-mes-span2">Este mes</span>
        </span>
      </div>
      <img class="icons4" src="/assets/icons/minus.svg" />
      <div class="group-3">
        <div class="_135-800">$135.800</div>
      </div>
    </div>
    <div class="income">
      <div class="group-32">
        <div class="ingresos-este-mes">
          <span>
            <span class="ingresos-este-mes-span">
              Ingresos
              <br />
            </span>
            <span class="ingresos-este-mes-span2">Este mes</span>
          </span>
        </div>
      </div>
      <img class="icons5" src="/assets/icons/plus.svg" />
      <div class="_6-000">$6.000</div>
    </div>
    <div class="wallet-balance">
      <img class="icons6" src="/assets/icons/wallet.svg" />
      <div class="saldo-actual-de-billetera">Saldo actual de billetera</div>
      <div class="_142-450-00">$142,450.00</div>
    </div>
  </div>
  <div class="button">
    <div class="text2">Ver todos los reportes</div>
  </div>
  <div class="last-transaction">
    <div class="ltima-transacci-n">Última transacción</div>
    <div class="_620-00">-$620.00</div>
    <div class="cena-con-clientes">Cena con clientes</div>
    <div class="upcoming-bill">
      <div class="frame-48">
        <div class="ultima">Ultima</div>
        <div class="acualizaci-n">acualización</div>
      </div>
      <div class="group-6">
        <img class="icons7" src="/assets/icons/calendar.svg" />
        <div class="_27">27</div>
      </div>
    </div>
    <img class="line-1" src="/assets/icons/plus.svg" />
  </div>
  <div class="button2">
    <div class="text3">Agregar transacción</div>
  </div>
</div>
