<div class="oasis-live-forever" (click)="onClose()">
  <div class="frame-205" (click)="$event.stopPropagation()">
    <div class="new-category">New Category</div>
    <div class="button" (click)="onClose()">
      <div class="text">Aceptar</div>
    </div>
    <img class="icons" src="assets/icons/plus-circle.png" />
    <div class="frame-68">
      <div class="e-mail">Description</div>
    </div>
    <div class="frame-67">
      <div class="e-mail">Name</div>
    </div>
    <div class="rectangle-328"></div>
  </div>
</div>
