<div class="content">
    <div class="weolcome-buttons">
      <div class="panorama-financiero">Panorama financiero</div>
    </div>
    <div class="finance-statement">
      <div class="wallet-balance">
        <div class="frame-7">
          <img class="icons" src="icons0.svg" />
        </div>
        <div class="saldo-de-la-billetera">Saldo de la billetera</div>
        <div class="_142-450-00">$142,450.00</div>
        <div class="_142-450-00-el-mes-pasado">$142,450.00 el mes pasado</div>
      </div>
      <div class="income">
        <div class="frame-72">
          <img class="icons2" src="icons1.svg" />
        </div>
        <div class="group-32">
          <div class="ingreso">Ingreso</div>
          <div class="_6-000-00">$6,000.00</div>
        </div>
      </div>
      <div class="expenses">
        <div class="frame-73">
          <img class="icons3" src="icons2.svg" />
        </div>
        <div class="group-32">
          <div class="gastos">Gastos</div>
          <div class="_135-800-00">$135,800.00</div>
        </div>
      </div>
    </div>
    <div class="balance-graphic">
      <div class="wallet-balance-graphic-analisys">
        <div class="frame-19">
          <div class="frame-17">
            <div class="frame-15">
              <div class="_50-k">100k</div>
            </div>
            <div class="line-1"></div>
          </div>
          <div class="frame-24">
            <div class="frame-15">
              <div class="_50-k">50k</div>
            </div>
            <div class="line-1"></div>
          </div>
          <div class="frame-18">
            <div class="frame-15">
              <div class="_50-k">10K</div>
            </div>
            <div class="line-1"></div>
          </div>
          <div class="frame-192">
            <div class="frame-15">
              <div class="_50-k">5K</div>
            </div>
            <div class="line-1"></div>
          </div>
          <div class="frame-20">
            <div class="frame-15">
              <div class="_50-k">3K</div>
            </div>
            <div class="line-1"></div>
          </div>
          <div class="frame-21">
            <div class="frame-15">
              <div class="_50-k">2K</div>
            </div>
            <div class="line-1"></div>
          </div>
          <div class="frame-22">
            <div class="frame-15">
              <div class="_50-k">0</div>
            </div>
            <div class="line-1"></div>
          </div>
          <div class="frame-23">
            <div class="frame-152"></div>
            <div class="frame-28">
              <div class="frame-16">
                <div class="ene">Ene</div>
              </div>
              <div class="frame-172">
                <div class="feb">Feb</div>
              </div>
              <div class="frame-182">
                <div class="mar">Mar</div>
              </div>
              <div class="frame-193">
                <div class="abr">Abr</div>
              </div>
              <div class="frame-202">
                <div class="mar">Mar</div>
              </div>
              <div class="frame-212">
                <div class="jun">Jun</div>
              </div>
              <div class="frame-222">
                <div class="jul">Jul</div>
              </div>
              <div class="frame-232">
                <div class="ago">Ago</div>
              </div>
              <div class="frame-242">
                <div class="sept">Sept</div>
              </div>
              <div class="frame-25">
                <div class="oct">Oct</div>
              </div>
              <div class="frame-26">
                <div class="nov">Nov</div>
              </div>
              <div class="frame-27">
                <div class="dic">Dic</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-29">
          <img class="group-4" src="group-40.svg" />
          <img class="yesterday-graph" src="yesterday-graph0.svg" />
          <img class="ellipse-1595" src="ellipse-15950.svg" />
          <div class="today">
            <img
              class="divider-graph-horizontal"
              src="divider-graph-horizontal0.svg"
            />
            <div class="this-year">This Year</div>
          </div>
          <div class="yesterday">
            <img
              class="divider-graph-horizontal2"
              src="divider-graph-horizontal1.svg"
            />
            <div class="last-year">Last Year</div>
          </div>
        </div>
        <div class="balance-analisys-more">
          <div class="an-lisis-de-equilibrio">Análisis de equilibrio</div>
          <div class="more">
            <div class="income-trend">
              <div class="ellipse-1596"></div>
              <div class="tendencia-de-ingresos">Tendencia de ingresos</div>
            </div>
            <div class="options-timelapse-overview">
              <div class="este-a-o">Este año</div>
              <div class="arrow-down-01-sharp">
                <img class="elements" src="elements0.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="virtual-card">
      <div class="virtual-card-options">
        <div class="tarjeta-virtual">Tarjeta virtual</div>
        <img class="icons4" src="icons3.svg" />
      </div>
      <div class="available-balance">
        <div class="_18-18">+18.18%</div>
        <img class="icons5" src="icons4.svg" />
        <div class="available-balance2">Saldo disponible</div>
        <div class="_650-00">$650.00</div>
        <div class="_550-00-el-mes-pasado">$550.00 el mes pasado</div>
        <div class="ltima-actualizaci-n-26-11-2025-14-32">
          Última actualización: 26/11/2025, 14:32
        </div>
        <div class="ellipse-1"></div>
        <div class="ellipse-2"></div>
      </div>
      <div class="details">
        <div class="frame-12">
          <div class="frame-122">
            <img class="icons6" src="icons5.svg" />
          </div>
          <div class="detalles">Detailsles</div>
        </div>
      </div>
      <div class="view-balance-history">
        <div class="ver-historial-de-saldo">Ver historial de saldo</div>
      </div>
    </div>
    <div class="shedule-contacts">
      <div class="shedule-contacts-view-all">
        <div class="shedule-contacts2">Contactos de empleado</div>
        <div class="view-all">
          <div class="ver-todo">Ver todo</div>
          <img class="icons7" src="icons6.svg" />
        </div>
      </div>
      <div class="shedule-contacs">
        <div class="contact-details">
          <img class="ellipse-3" src="ellipse-30.png" />
          <div class="frame-162">
            <div class="contact-name">Esther Howard</div>
            <div class="e-mail">deann.curtis&#64;example.com</div>
          </div>
          <div class="text">$169.43</div>
        </div>
        <div class="contact-details">
          <img class="ellipse-3" src="ellipse-31.png" />
          <div class="frame-162">
            <div class="contact-name">Annette Black</div>
            <div class="e-mail">willie.jennings&#64;example.com</div>
          </div>
          <div class="text">$601.13</div>
        </div>
        <div class="contact-details">
          <img class="ellipse-3" src="ellipse-32.png" />
          <div class="frame-162">
            <div class="contact-name">Kathryn Murphy</div>
            <div class="e-mail">bill.sanders&#64;example.com</div>
          </div>
          <div class="text">$710.68</div>
        </div>
        <div class="contact-details2">
          <img class="ellipse-3" src="ellipse-33.png" />
          <div class="frame-162">
            <div class="contact-name">Theresa Webb</div>
            <div class="e-mail">eva.simmons&#64;example.com</div>
          </div>
          <div class="text">$396.84</div>
        </div>
        <div class="contact-details2">
          <img class="ellipse-3" src="ellipse-34.png" />
          <div class="frame-162">
            <div class="contact-name">Kristin Watson</div>
            <div class="e-mail">alma.lawson&#64;example.com</div>
          </div>
          <div class="text">$630.44</div>
        </div>
      </div>
    </div>
    <div class="transactions-history">
      <div class="frame-32">
        <div class="historial-de-transacciones">Historial de transacciones</div>
        <div class="view-all">
          <div class="ver-todo">Ver todo</div>
          <img class="icons8" src="icons7.svg" />
        </div>
      </div>
      <div class="table">
        <div class="table-column">
          <div class="table-header">
            <div class="date">Fecha</div>
          </div>
          <div class="table-header2">
            <div class="date2">2025-12-27</div>
          </div>
          <div class="table-header2">
            <div class="date2">2025-12-27</div>
          </div>
          <div class="table-header2">
            <div class="date2">2025-12-25</div>
          </div>
        </div>
        <div class="table-column2">
          <div class="table-header">
            <div class="date3">Descripción</div>
          </div>
          <div class="table-header2">
            <div class="date2">Entretenimiento del cliente</div>
          </div>
          <div class="table-header2">
            <div class="date2">
              Campaña de publicidad digital en redes sociales
            </div>
          </div>
          <div class="table-header2">
            <div class="date2">Venta de servicios de consultoría financiera</div>
          </div>
        </div>
        <div class="table-column">
          <div class="table-header">
            <div class="date3">Categoría</div>
          </div>
          <div class="table-header2">
            <div class="date2">Relaciones públicas</div>
          </div>
          <div class="table-header2">
            <div class="date2">Marketing</div>
          </div>
          <div class="table-header2">
            <div class="date2">Servicios</div>
          </div>
        </div>
        <div class="table-column3">
          <div class="table-header">
            <div class="date3">Cantidad</div>
          </div>
          <div class="table-header2">
            <div class="date4">-$620.00</div>
          </div>
          <div class="table-header2">
            <div class="date4">-$2,000.00</div>
          </div>
          <div class="table-header2">
            <div class="date5">+$4,200.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  