<div class="sidebar">
    <div class="icons-logo">
      <img class="cello-3-1" src="/assets/icons/favicon.png" />
      <div class="financello">FINANCELLO</div>
    </div>
    <div class="frame-228">
      <div class="links">
        <div 
  class="sidebar-button home-button"
  [ngClass]="{ 'active': activeSection === 'home' }"
  (click)="setActive('home')">
  <img src="/assets/icons/home.svg" alt="home" />
  <span>HOME</span>
</div>

<!-- LOAD FILES -->
<div 
  class="sidebar-button" 
  [ngClass]="{ 'active': activeSection === 'loadfiles' }"
  (click)="setActive('loadfiles')">
  <img src="/assets/icons/file.svg" alt="loadfiles" />
  <span>LOAD FILES</span>
</div>

<!-- MY FINANCES -->
<div 
  class="sidebar-button" 
  [ngClass]="{ 'active': activeSection === 'myfinances' }"
  (click)="setActive('myfinances')">
  <img src="/assets/icons/my-finances.svg" alt="myfinances" />
  <span>MY FINANCES</span>
</div>

<!-- SAVING GOALS -->
<div 
  class="sidebar-button" 
  [ngClass]="{ 'active': activeSection === 'savinggoals' }"
  (click)="setActive('savinggoals')">
  <img src="/assets/icons/saving-goals.svg" alt="savinggoals" />
  <span>SAVING GOALS</span>
</div>

<!-- ANALYTICS -->
<div 
  class="sidebar-button" 
  [ngClass]="{ 'active': activeSection === 'analytics' }"
  (click)="setActive('analytics')">
  <img src="/assets/icons/analytics.svg" alt="analytics" />
  <span>ANALYTICS</span>
</div>


      </div>
      <div class="line-6"></div>
      <div class="links2">
        <!-- PROFILE -->
<div 
class="sidebar-button" 
[ngClass]="{ 'active': activeSection === 'profile' }"
(click)="setActive('profile')">
<img src="/assets/icons/profile.svg" alt="profile" />
<span>PROFILE</span>
</div>

<!-- SETTINGS -->
<div 
class="sidebar-button" 
[ngClass]="{ 'active': activeSection === 'settings' }"
(click)="setActive('settings')">
<img src="/assets/icons/settings.svg" alt="settings" />
<span>SETTINGS</span>
</div>

      </div>
    </div>
  </div>
  