@font-face {
  font-family: "PalanquinDark-Bold";
  src: url("/fonts/PalanquinDark-Bold.ttf") format("truetype");
}
@font-face {
font-family: "PalanquinDark-Medium";
src: url("/fonts/PalanquinDark-Medium.ttf") format("truetype");
}
@font-face {
font-family: "PalanquinDark-Regular";
src: url("/fonts/PalanquinDark-Regular.ttf") format("truetype");
}
@font-face {
font-family: "Cinzel-Bold";
src: url("/fonts/Cinzel-Bold.otf") format("truetype");
}
@font-face {
font-family: "PalanquinDark-SemiBold";
src: url("/fonts/PalanquinDark-SemiBold.ttf") format("truetype");
}
@font-face {
font-family: "Poppins-Regular";
src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}
.us-09-visualizar-historial-de-aportes-organizados-por-tipo-de-ahorro,
.us-09-visualizar-historial-de-aportes-organizados-por-tipo-de-ahorro * {
  box-sizing: border-box;
}
.us-09-visualizar-historial-de-aportes-organizados-por-tipo-de-ahorro {
  background: #dcdcd1;
  position: absolute;
}
.content {
  background: #dcdcd1;
  width: 1200px;
  height: 944px;
  position: absolute;
  left: 220px;
  overflow: hidden;
}
.weolcome-buttons {
  width: 1121px;
  height: 53px;
  position: absolute;
  left: 36px;
  top: 17px;
}
.welcome-back-jhon-doe {
  color: #000000;
  text-align: left;
  font-family: "PalanquinDark-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 290px;
  height: 33px;
}
.group-198 {
  position: absolute;
  inset: 0;
}
.rectangle-130 {
  background: #ffffff;
  border-radius: 16px;
  width: 53.34%;
  height: 56.17%;
  position: absolute;
  right: 41.16%;
  left: 5.5%;
  bottom: 30.38%;
  top: 13.45%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.nueva-meta {
  color: var(--neutral-800, #67677a);
  text-align: center;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 574px;
  top: 207px;
  width: 128.05px;
  height: 20.12px;
}
.union {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group-197 {
  position: absolute;
  inset: 0;
}
.ellipse-91 {
  border-radius: 50%;
  border-style: solid;
  border-color: #95f3f3;
  border-width: 50px;
  width: 257.2px;
  height: 257.2px;
  position: absolute;
  left: 264.76px;
  top: 192px;
}
.ellipse-103 {
  border-radius: 50%;
  border-style: solid;
  border-color: #e0ffff;
  border-width: 50px;
  width: 257.2px;
  height: 257.2px;
  position: absolute;
  left: 264.76px;
  top: 192px;
}
.ellipse-93 {
  border-radius: 50%;
  border-style: solid;
  border-color: #149696;
  border-width: 50px;
  width: 257.2px;
  height: 257.2px;
  position: absolute;
  left: 264.76px;
  top: 192px;
}
.ellipse-92 {
  border-radius: 50%;
  border-style: solid;
  border-color: #1acbcb;
  border-width: 50px;
  width: 257.2px;
  height: 257.2px;
  position: absolute;
  left: 264.76px;
  top: 192px;
}
._15 {
  color: var(--gris-oscuro-icono, #1d3378);
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 171.88px;
  top: 574.94px;
  width: 110.02px;
  height: 47.15px;
}
._20 {
  color: var(--gris-oscuro-icono, #1d3378);
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 261.9px;
  top: 574.94px;
  width: 112.88px;
  height: 47.15px;
}
._12 {
  color: var(--gris-oscuro-icono, #1d3378);
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 344.78px;
  top: 574.94px;
  width: 112.88px;
  height: 47.15px;
}
._8 {
  color: var(--gris-oscuro-icono, #1d3378);
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 434.8px;
  top: 574.94px;
  width: 112.88px;
  height: 47.15px;
}
.ellipse-94 {
  background: #149696;
  border-radius: 50%;
  width: 15.72px;
  height: 17.15px;
  position: absolute;
  left: 220.47px;
  top: 540.65px;
}
.ellipse-95 {
  background: #1acbcb;
  border-radius: 50%;
  width: 18.58px;
  height: 17.15px;
  position: absolute;
  left: 310.48px;
  top: 540.65px;
}
.ellipse-96 {
  background: #52e0e0;
  border-radius: 50%;
  width: 18.58px;
  height: 17.15px;
  position: absolute;
  left: 390.5px;
  top: 540.65px;
}
.ellipse-97 {
  background: #95f3f3;
  border-radius: 50%;
  width: 18.58px;
  height: 17.15px;
  position: absolute;
  left: 480.52px;
  top: 540.65px;
}
._45 {
  color: var(--gris-oscuro-icono, #1d3378);
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 529.1px;
  top: 574.94px;
  width: 110.02px;
  height: 47.15px;
}
.ellipse-98 {
  background: #c8f8f8;
  border-radius: 50%;
  width: 17.15px;
  height: 17.15px;
  position: absolute;
  left: 576.26px;
  top: 540.65px;
}
.s-3-925 {
  color: var(--gris-oscuro-icono, #1d3378);
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 25px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 47px;
  top: 295px;
  width: 691.58px;
  height: 54.3px;
}
.rectangle-1302 {
  background: #ffffff;
  border-radius: 16px;
  width: 12.09%;
  height: 11.93%;
  position: absolute;
  right: 41.16%;
  left: 46.75%;
  bottom: 16.43%;
  top: 71.64%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.a-adir {
  color: var(--neutral-800, #67677a);
  text-align: center;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 570px;
  top: 758px;
  width: 128.05px;
  height: 20.12px;
}
.group-207 {
  width: 4.42%;
  height: 5.44%;
  position: absolute;
  right: 45.05%;
  left: 50.53%;
  bottom: 21.04%;
  top: 73.52%;
  overflow: visible;
}
.group-202 {
  width: 3.07%;
  height: 3.78%;
  position: absolute;
  right: 45.26%;
  left: 51.67%;
  bottom: 78.85%;
  top: 17.37%;
  overflow: visible;
}
.group-199 {
  width: 27.33%;
  height: 29.34%;
  position: absolute;
  right: 11.75%;
  left: 60.92%;
  bottom: 57.2%;
  top: 13.45%;
  overflow: visible;
}
.group-200 {
  width: 27.33%;
  height: 38.67%;
  position: absolute;
  right: 11.75%;
  left: 60.92%;
  bottom: 16.42%;
  top: 44.92%;
  overflow: visible;
}
.rectangle-1303 {
  background: #ffffff;
  border-radius: 16px;
  width: 39.25%;
  height: 11.97%;
  position: absolute;
  right: 55.33%;
  left: 5.42%;
  bottom: 16.42%;
  top: 71.61%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.group-40 {
  position: absolute;
  inset: 0;
}
.s-5000 {
  color: var(--neutral-1000, #303048);
  text-align: right;
  font-family: var(
    --body-button-lg-bold-font-family,
    "DmSans-Bold",
    sans-serif
  );
  font-size: var(--body-button-lg-bold-font-size, 18px);
  line-height: var(--body-button-lg-bold-line-height, 28px);
  font-weight: var(--body-button-lg-bold-font-weight, 700);
  position: absolute;
  left: 410.85px;
  bottom: 186.19px;
  width: 89.78px;
  height: 28.17px;
}
.s-1175 {
  color: var(--neutral-1000, #303048);
  text-align: left;
  font-family: var(
    --body-button-lg-bold-font-family,
    "DmSans-Bold",
    sans-serif
  );
  font-size: var(--body-button-lg-bold-font-size, 18px);
  line-height: var(--body-button-lg-bold-line-height, 28px);
  font-weight: var(--body-button-lg-bold-font-weight, 700);
  position: absolute;
  left: 97.19px;
  bottom: 186.19px;
  width: 63.29px;
  height: 28.17px;
}
.falta-para-gastar {
  color: var(--neutral-800, #67677a);
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 97.19px;
  top: 708.51px;
  width: 128.05px;
  height: 20.12px;
}
.presupuesto-mensual {
  color: var(--neutral-800, #67677a);
  text-align: right;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 348.87px;
  top: 708.51px;
  width: 151.6px;
  height: 20.12px;
}
.name {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 751px;
  top: 148px;
}
.cate-icon {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  overflow: hidden;
}
.rectangle-6 {
  background: var(--purple-8, #6a43dd);
  border-radius: 14px;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26.25px;
  font-weight: 400;
  position: absolute;
  right: 66.39%;
  left: 20%;
  width: 13.61%;
  bottom: 46.67%;
  top: 22.22%;
  height: 31.11%;
}
.pagos {
  color: var(--neutral-1000, #303048);
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
}
.s-3500 {
  color: var(--neutral-800, #67677a);
  text-align: right;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: 976px;
  top: 156.5px;
}
.pago-membresias {
  color: var(--neutral-1000, #303048);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 751px;
  top: 213px;
}
.s-2800 {
  color: var(--neutral-1000, #303048);
  text-align: right;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 974px;
  top: 213px;
}
.falta-s-600 {
  color: var(--neutral-800, #67677a);
  text-align: right;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 973px;
  top: 243px;
}
.internet {
  color: var(--neutral-1000, #303048);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 751px;
  top: 286px;
}
.rectangle-3 {
  background: #dcdcd1;
  border-radius: 10px;
  width: 199px;
  height: 4px;
  position: absolute;
  left: 751px;
  top: 325px;
}
.rectangle-131 {
  background: #dcdcd1;
  border-radius: 10px;
  width: 199px;
  height: 4px;
  position: absolute;
  left: 751px;
  top: 252px;
}
.s-700 {
  color: var(--neutral-1000, #303048);
  text-align: right;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 985px;
  top: 286px;
}
.falta-325 {
  color: var(--neutral-800, #67677a);
  text-align: right;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 980px;
  top: 316px;
}
.s-1500 {
  color: var(--neutral-800, #67677a);
  text-align: right;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: 970px;
  top: 462px;
}
.rectangle-62 {
  background: var(--secondary-1, #f46040);
  border-radius: 14px;
  opacity: 0.1;
  width: 3.75%;
  height: 4.77%;
  position: absolute;
  right: 33.67%;
  left: 62.58%;
  bottom: 47.03%;
  top: 48.2%;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 25px;
  line-height: 29.17px;
  font-weight: 400;
  position: absolute;
  right: 34.5%;
  left: 63.42%;
  width: 2.08%;
  bottom: 47.98%;
  top: 49.26%;
  height: 2.76%;
}
.servicios {
  color: var(--neutral-1000, #303048);
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: 817px;
  top: 464px;
}
.publicidad {
  color: var(--neutral-1000, #303048);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 751px;
  top: 515px;
}
.rectangle-32 {
  border-radius: 0px;
  width: 208px;
  height: 4px;
  position: absolute;
  left: 751px;
  top: 554px;
  overflow: visible;
}
.s-500 {
  color: var(--neutral-1000, #303048);
  text-align: right;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 984px;
  top: 515px;
}
.falta-s-0 {
  color: var(--neutral-800, #67677a);
  text-align: right;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 985px;
  top: 545px;
}
.transporte {
  color: var(--neutral-1000, #303048);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 751px;
  top: 588px;
}
.rectangle-33 {
  background: #1acbcb;
  border-radius: 10px;
  width: 194px;
  height: 4px;
  position: absolute;
  left: 751px;
  top: 627px;
}
.s-7002 {
  color: var(--neutral-1000, #303048);
  text-align: right;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 985px;
  top: 588px;
}
.group-201 {
  position: absolute;
  inset: 0;
}
.servicios-cloud {
  color: var(--neutral-1000, #303048);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 751px;
  top: 659px;
}
.rectangle-34 {
  background: #149696;
  border-radius: 10px;
  width: 194px;
  height: 4px;
  position: absolute;
  left: 751px;
  top: 698px;
}
.s-300 {
  color: var(--neutral-1000, #303048);
  text-align: right;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 984px;
  top: 659px;
}
.falta-s-50 {
  color: var(--neutral-800, #67677a);
  text-align: right;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 977px;
  top: 682px;
}
.falta-s-100 {
  color: var(--neutral-800, #67677a);
  text-align: right;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 973px;
  top: 618px;
}
.rectangle-35 {
  background: #c8f8f8;
  border-radius: 10px;
  width: 146px;
  height: 4px;
  position: absolute;
  left: 751px;
  top: 252px;
}

.circle-button {
  width: 50px; /* Puedes ajustar el tamaño */
  height: 50px;
  background-color: #1B325F; /* Usa aquí tu azul oscuro de la paleta */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto; /* Centrar horizontalmente */
  position: relative;
  top: -10px;
}

.plus-icon {
  width: 24px; /* Ajusta el tamaño del ícono */
  height: 24px;
  filter: brightness(0) invert(1);
}

/* Estilos comunes para ambos cuadros */
.rectangle-30 {
  position: absolute;
  width: 270px;
  height: 160px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  padding: 12px;
  box-sizing: border-box;
  z-index: 0;
}

/* Posiciones específicas */
.pagos-box {
  top: 200px;
  left: 65%;
}

.servicios-box {
  top: 600px;
  left: 65%;
}

.icon-text {
  font-size: 28px;
  margin-bottom: 4px;
}

.pagos,
.servicios {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
}

.line-color {
  height: 4px;
  width: 80%;
  margin-top: 12px;
  border-radius: 4px;
}

.line-color.crema {
  background-color: #E8D7C6; /* color crema bajo de tu paleta */
}

.line-color.celeste {
  background-color: #D3EEF5; /* color celeste claro de tu paleta */
}

.s-3500, .s-2800, .falta-s-600, .publicidad, .pago-membresias, .internet {
  font-size: 14px;
  margin-bottom: 2px;
}

/* Centrar el emoji dentro del contenedor */
.emoji-icon {
  font-size: 40px; /* Ajusta el tamaño */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; /* Tamaño del contenedor */
  height: 60px;
  background-color: transparent; /* Fondo opcional */
  border-radius: 50%; /* Opcional si quieres que sea circular */
  position: absolute;
  z-index: 1;
}

/* Línea de color crema debajo de Internet */
.line-color.crema {
  width: 200px;
  height: 4px;
  background-color: #f1e0c5; /* Color crema según paleta */
  position: absolute;
  top: 320px; /* Ajusta según ubicación */
  left: 62.5%;
}

/* Línea de color celeste debajo de Publicidad */
.line-color.celeste {
  width: 195px;
  height: 4.5px;
  background-color: #c9eaf3; /* Color celeste según paleta */
  position: absolute;
  top: 545px; /* Ajusta según ubicación */
  left: 62.5%;
}

.donut {
  transform: rotate(-90deg); /* Para que inicie desde la parte superior */
}

.donut-segment {
  fill: none;
  stroke-linecap: round; /* Bordes redondeados */
}

.alice-in-chains-man-in-the-box,
.alice-in-chains-man-in-the-box * {
  box-sizing: border-box;
}
.alice-in-chains-man-in-the-box {
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  position: fixed; /* Ventana flotante */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Encima de todo */
  
  /* Centramos el contenido */
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle-329 {
  background: #ffffff;
  border-radius: 35px;
  width: 738px;
  height: 520px;
  position: relative; /* ✔️ Esto sí */
}

.icons {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 898px;
  top: 240px;
  overflow: visible;
}
.button {
  background: #0ea49b;
  border-radius: 100px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 180px;
  position: absolute;
  left: 510px;
  top: 640px;
}
.text {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  width: 460px;
}
.new-saving-goal {
  color: #000000;
  text-align: left;
  font-family: "PalanquinDark-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 480px;
  top: 237px;
  width: 272px;
  height: 58px;
}
.frame-226 {
  border-radius: 15px;
  border-style: solid;
  border-color: #bababa;
  border-width: 1px;
  padding: 15px 0px 15px 0px;
  width: 251px;
  height: 254px;
  position: absolute;
  left: 474px;
  top: 336px;
  overflow: hidden;
}
.group-221 {
  position: absolute;
  inset: 0;
}
.frame-66 {
  background: #ced5d7;
  border-radius: 15px;
  padding: 2px 6px 2px 6px;
  width: 225px;
  height: 40px;
  position: absolute;
  left: 13px;
  top: 15px;
}
.e-mail {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 6px;
  top: 2px;
}
.line-4 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 251px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 67px;
  transform-origin: 0 0;
  transform: rotate(0.155deg) scale(1, 1);
}
.group-220 {
  position: absolute;
  inset: 0;
}
.frame-662 {
  background: #ced5d7;
  border-radius: 15px;
  padding: 2px 6px 2px 6px;
  width: 225px;
  height: 40px;
  position: absolute;
  left: 13px;
  top: 79.7px;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 251px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 131.7px;
  transform-origin: 0 0;
  transform: rotate(0.155deg) scale(1, 1);
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 251px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 196px;
  transform-origin: 0 0;
  transform: rotate(0.155deg) scale(1, 1);
}
.group-219 {
  position: absolute;
  inset: 0;
}
.frame-663 {
  background: #ced5d7;
  border-radius: 15px;
  padding: 2px 6px 2px 6px;
  width: 225px;
  height: 40px;
  position: absolute;
  left: 13px;
  top: 145px;
}
.icons2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 207px;
  top: 153px;
  overflow: visible;
  aspect-ratio: 1;
}
.icons3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 207px;
  top: 88px;
  overflow: visible;
  aspect-ratio: 1;
}
.rectangle-331 {
  background: #092c36;
  border-radius: 15px;
  opacity: 0.2;
  width: 225px;
  height: 40px;
  position: absolute;
  left: 12px;
  top: 206px;
}
.icons4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 207px;
  top: 214px;
  overflow: visible;
  aspect-ratio: 1;
}
.due-date {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 19px;
  top: 210px;
  width: 193px;
  height: 36px;
}
.icon {
  width: 3.19%;
  height: 1.63%;
  position: absolute;
  right: 95.22%;
  left: 1.59%;
  bottom: 100%;
  top: -1.63%;
  overflow: visible;
}