<div class="sign-up">
    <div class="content">
      <div class="login-glass">
        <div class="rectangle-27"></div>
        <div class="rectangle-26"></div>
        <div class="sign-up2">
          <div class="sign-up3">Sign Up</div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
            <div class="form-group">
              <img class="icons" src="/icons/user.svg" />
              <div class="input-wrapper">
                <input type="text" id="firstName" formControlName="firstName" required placeholder=" " />
                <label for="firstName">First Name</label>
              </div>
            </div>
            <div class="form-group">
              <img class="icons2" src="/icons/user.svg" />
              <div class="input-wrapper">
                <input type="text" id="lastName" formControlName="lastName" required placeholder=" " />
                <label for="lastName">Last Name</label>
              </div>
            </div>
            <div class="form-group">
              <img class="icons3" src="/icons/mail.svg" />
              <div class="input-wrapper">
                <input type="email" id="email" formControlName="email" required placeholder=" " />
                <label for="email">E-mail</label>
              </div>
            </div>
            <div class="form-group">
              <img class="icons4" src="/icons/lock.svg" />
              <div class="input-wrapper">
                <input type="password" id="password" formControlName="password" required placeholder=" " />
                <label for="password">Password</label>
              </div>
            </div>
            <button type="submit" class="button">
              <span class="text">Register</span>
            </button>
          </form>
          <a class="alrady-have-an-account" (click)="goToLogin()">Alrady have an account?</a>
        </div>
      </div>
      <img class="finacello-jpg" src="/assets/img/financello.png" />
    </div>
  </div>
  