<div class="content">
    <div class="frame-33">
      <div class="button">
        <div class="text"></div>
      </div>
      <div class="clasificaci-n-de-las-transacciones-de-gastos">
        Clasificación de las transacciones de gastos
      </div>
    </div>
    <div class="transactions-history">
      <div class="frame-32">
        <div class="clasifica-autom-ticamente-tus-gastos-por-categor-a">
          Clasifica automáticamente tus gastos por categoría.
        </div>
      </div>
      <div class="table">
        <div class="table-column">
          <div class="table-header">
            <div class="date">Fecha</div>
          </div>
          <div class="table-header2">
            <div class="date2">20/04/2025</div>
          </div>
          <div class="table-header2">
            <div class="date2">21/04/2025</div>
          </div>
          <div class="table-header2">
            <div class="date2">22/04/2025</div>
          </div>
          <div class="table-header2">
            <div class="date2">23/04/2025</div>
          </div>
          <div class="table-header2">
            <div class="date2">24/04/2025</div>
          </div>
          <div class="table-header2">
            <div class="date2">25/04/2025</div>
          </div>
          <div class="table-header2">
            <div class="date2">26/04/2025</div>
          </div>
        </div>
        <div class="table-column2">
          <div class="table-header">
            <div class="date3">Descripción</div>
          </div>
          <div class="table-header2">
            <div class="date2">Compra de comestibles (La Canasta)</div>
          </div>
          <div class="table-header2">
            <div class="date2">Factura de luz y agua</div>
          </div>
          <div class="table-header2">
            <div class="date2">Alquiler de apartamento</div>
          </div>
          <div class="table-header2">
            <div class="date2">Consulta médica general</div>
          </div>
          <div class="table-header2">
            <div class="date2">Compra de medicamentos (Farmacia)</div>
          </div>
          <div class="table-header2">
            <div class="date2">Pago mensual de transporte público</div>
          </div>
          <div class="table-header2">
            <div class="date2">Pago de internet en casa</div>
          </div>
        </div>
        <div class="table-column3">
          <div class="table-header3">
            <div class="date3">Monto</div>
          </div>
          <div class="table-header2">
            <div class="date4">-$250.00</div>
          </div>
          <div class="table-header2">
            <div class="date4">-$120.00</div>
          </div>
          <div class="table-header2">
            <div class="date4">-$800.00</div>
          </div>
          <div class="table-header2">
            <div class="date4">-$90.00</div>
          </div>
          <div class="table-header2">
            <div class="date4">-$45.00</div>
          </div>
          <div class="table-header2">
            <div class="date4">-$50.00</div>
          </div>
          <div class="table-header2">
            <div class="date4">-$60.00</div>
          </div>
        </div>
      </div>
      <div class="frame-34">
        <div class="rectangle-5"></div>
        <img class="icons" src="icons0.svg" />
        <img class="rectangle-6" src="rectangle-60.svg" />
        <img class="icons2" src="icons1.svg" />
      </div>
      <div class="icons3"></div>
      <div class="category-expenses">
        <div class="frame-36">
          <div class="primera-categor-a">Primera Categoría</div>
        </div>
        <div class="frame-37">
          <div class="segunda-categor-a">Segunda Categoría</div>
        </div>
        <div class="frame-39">
          <div class="tercera-categor-a">Tercera Categoría</div>
        </div>
        <div class="frame-40">
          <div class="div">+</div>
        </div>
      </div>
    </div>
    <div class="frame-35">
      <div class="rectangle-7"></div>
      <div class="nuevo-gasto-detectado-y-clasificado-como-gasto-primario">
        Nuevo gasto detectado y clasificado como Gasto Primario.
      </div>
      <img class="vector" src="vector0.svg" />
    </div>
    <router-outlet></router-outlet>
  </div>