<div class="content">
    <div class="weolcome-buttons">
      <div class="my-profile">My Profile</div>
    </div>
    <div class="cambiar">Cambiar</div>
    <div class="frame-239183">
      <div class="jhon-doe">{{userInfo.firstName}} {{userInfo.lastName}}</div>
      <div class="jhondoe-example-com">{{userInfo.email}}	</div>
      <div class="avatar-user-250">
        <div class="rectangle"></div>
        <div class="rectangle2"></div>
      </div>
      <div class="first-name">First Name</div>
      <div class="rectangle-6698"></div>
      <div class="your-first-name">Your First Name</div>
      <div class="last-name">Last Name</div>
      <div class="rectangle-66982"></div>
      <div class="last-name2">Last Name</div>
      <div class="group-2391822">
        <div class="country">Country</div>
        <div class="rectangle-66983"></div>
        <div class="your-country">Your Country</div>
        <div class="group-2391822">
          <div class="gender">Gender</div>
          <div class="rectangle-66984"></div>
          <div class="your-gender">Your Gender</div>
          <div class="group-2391823">
            <div class="language">Language</div>
            <div class="rectangle-66985"></div>
            <div class="your-language">Your Language</div>
            <div class="group-2391824">
              <div class="bussines-name">Bussines Name</div>
              <div class="rectangle-66986"></div>
              <div class="your-bussines-name">Your Bussines Name</div>
            </div>
          </div>
        </div>
      </div>
      <div class="jhondoe-example-com2">{{userInfo.email}}</div>
      <div class="_1-month-ago">1 month ago</div>
      <div class="rectangle-1072"></div>
      <div class="edit-email-address">+Edit Email Address</div>
      <div class="my-email-address">My email Address</div>
      <div class="ellipse-1697"></div>
      <div class="button">
        <div class="text">Edit</div>
      </div>
    </div>
  </div>