<div class="content">
  <div class="weolcome-buttons">
    <div class="my-profile">My Profile</div>
  </div>
  <div class="frame-239183">
    <div class="group-239183">
      <div class="jhon-doe">{{userInfo.firstName}} {{userInfo.lastName}}</div>
      <div class="jhondoe-example-com">{{userInfo.email}}</div>
    </div>
    <div class="avatar-user-250">
      <div class="rectangle"></div>
      <div class="rectangle2"></div>
    </div>
    <div class="frame-239185">
      <div class="last-name">Last Name</div>
      <div class="group-239188">
        <div class="rectangle-6698"></div>
        <div class="last-name2">{{userInfo.lastName}}</div>
      </div>
      <div class="gender">Password</div>
      <div class="group-239196">
        <div class="rectangle-66983"></div>
        <div class="your-gender">*******************</div>
      </div>
      <div class="first-name">First Name</div>
      <div class="group-239187">
        <div class="rectangle-66984"></div>
        <div class="your-first-name">{{userInfo.firstName}}</div>
      </div>
      
    </div>
    <div class="group-239198">
      <div class="jhondoe-example-com2">{{userInfo.email}}</div>
      <div class="_1-month-ago">1 month ago</div>
    </div>
    <button class="edit-email-button" [routerLink]="['/dashboard/profile/edit']">
      +Edit Email Address
    </button>
    
    <div class="my-email-address">My email Address</div>
    <div class="user">
      <div class="ellipse-1697"></div>
      <img class="icons" src="/icons/user.svg" />
    </div>
    <button class="edit-button" [routerLink]="['/dashboard/profile/edit']">
      <span class="text">Edit</span>
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
