<div class="the-warning-more">
  <div class="weolcome-buttons">
    <div class="my-profile">My Profile</div>
  </div>
  <div class="cambiar">Cambiar</div>
  <div class="frame-239231">
    <div class="avatar-user-250">
      <div class="rectangle"></div>
      <div class="rectangle2"></div>
    </div>
    <div class="jhon-doe">Jhon Doe</div>
    <div class="jhondoe-example-com">jhondoe&#64;example.com</div>
    <div class="frame-239232">
      <div class="basic">BASIC</div>
    </div>
  </div>
  <div class="frame-239185">
    <div class="last-name">Last Name</div>
    <div class="group-239188">
      <div class="rectangle-6698"></div>
    </div>
    <div class="e-mail">E-mail</div>
    <div class="group-239188">
      <div class="rectangle-66982"></div>
    </div>
    <div class="password">Password</div>
    <div class="group-239196">
      <div class="rectangle-66983"></div>
    </div>
    <div class="first-name">First Name</div>
    <div class="group-239187">
      <div class="rectangle-66984"></div>
    </div>
    <div class="frame-239233"></div>
  </div>
</div>
