<div class="content">
    <div class="rectangle-314"></div>
    <div
      class="ofrece-diversas-herramientas-para-adaptar-la-experiencia-del-usuario"
    >
      Ofrece diversas herramientas para adaptar la experiencia del usuario.
    </div>
    <div class="weolcome-buttons">
      <div class="settings">Settings</div>
    </div>
    <div class="line-7"></div>
    <div class="line-8"></div>
    <div class="line-9"></div>
    <div class="line-10"></div>
    <div class="line-11"></div>
    <div class="frame-239234">
      <div class="planificaci-n-de-presupuestos">
        Planificación de presupuestos
      </div>
      <div class="planifica-un-presupuesto-de-gasto-para-tus-actividades">
        Planifica un presupuesto de gasto para tus actividades
      </div>
      <img class="icons" src="icons0.svg" />
      <img class="icons2" src="icons1.svg" />
    </div>
    <a class="frame-239237"
       [routerLink]="['/dashboard/spending-limit']"
       routerLinkActive="active"
       role="button">
      <img class="icons3" src="icons2.svg" />
      <div class="limites-de-gastos">Limites de gastos</div>
      <div class="crea-un-limite-de-gasto-a-una-categoria-exsistente">
        Crea un limite de gasto a una categoria exsistente
      </div>
      <img class="icons4" src="icons3.svg" />
    </a>
    <a class="frame-239236"
       [routerLink]="['/dashboard/alerts']"
       routerLinkActive="active"
       role="button">
      <img class="icons5" src="icons4.svg" />
      <div class="recordatorios-personalizados">Recordatorios personalizados</div>
      <div class="ponte-un-recordatorio-para-un-limite-de-tus-gastos">
        Ponte un recordatorio para un limite de tus gastos
      </div>
      <img class="icons6" src="icons5.svg" />
    </a>
    <div class="frame-239235">
      <img class="icons7" src="icons6.svg" />
      <div class="creaci-n-de-categorias">Creación de categorias</div>
      <div class="crea-una-categoria-para-organizar-tus-movimientos">
        Crea una categoria para organizar tus movimientos
      </div>
      <img class="icons8" src="icons7.svg" />
    </div>
  </div>
