@font-face {
  font-family: "PalanquinDark-Bold";
  src: url("/assets/fonts/PalanquinDark-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PalanquinDark-Medium";
  src: url("/assets/fonts/PalanquinDark-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "PalanquinDark-Regular";
  src: url("/assets/fonts/PalanquinDark-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PalanquinDark-SemiBold";
  src: url("/assets/fonts/PalanquinDark-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

.pearl-jam-black,
.pearl-jam-black * {
  box-sizing: border-box;
}
.pearl-jam-black {
  background: rgba(0, 0, 0, 0.5);
  padding: 212px 231px 212px 231px;
  height: 944px;
  position: relative;
}
.rectangle-329 {
  background: #ffffff;
  border-radius: 35px;
  width: 738px;
  height: 520px;
  position: absolute;
  left: 492px;
  top: 212px;
}
.button {
  background: #0ea49b;
  border-radius: 100px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 180px;
  position: absolute;
  left: 615px;
  top: 655px;
}
.text {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  width: 460px;
}
.button2 {
  background: #bababa;
  border-radius: 100px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 180px;
  position: absolute;
  left: 885px;
  top: 655px;
}
.new-goal-contribution {
  color: #000000;
  text-align: left;
  font-family: "PalanquinDark-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 664px;
  top: 230px;
  width: 351px;
  height: 58px;
}
.frame-226 {
  border-radius: 15px;
  border-style: solid;
  border-color: #bababa;
  border-width: 1px;
  padding: 15px 0px 15px 0px;
  width: 356px;
  height: 209px;
  position: absolute;
  left: 663px;
  top: 351px;
  overflow: hidden;
}
.group-220 {
  position: absolute;
  inset: 0;
}
.frame-66 {
  background: #ced5d7;
  border-radius: 15px;
  padding: 2px 6px 2px 6px;
  width: 332px;
  height: 40px;
  position: absolute;
  left: 13px;
  top: 14px;
}
.e-mail {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 6px;
  top: 2px;
}
.icons {
  width: 29.15px;
  height: 29.15px;
  position: absolute;
  left: 302.39px;
  top: 16.42px;
  overflow: visible;
  aspect-ratio: 1;
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 355px;
  height: 0px;
  position: absolute;
  left: 1px;
  top: 73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 355px;
  height: 0px;
  position: absolute;
  left: 1px;
  top: 143px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-239229 {
  background: #ced5d7;
  border-radius: 15px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  gap: 92px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 334px;
  height: 40px;
  position: absolute;
  left: 11px;
  top: 87px;
}
.due-date {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  width: 193px;
  height: 21px;
}
.icons2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-239230 {
  background: #ced5d7;
  border-radius: 15px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  gap: 92px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 334px;
  height: 40px;
  position: absolute;
  left: 11px;
  top: 155px;
}
.goal-name {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  width: 193px;
  height: 21px;
}
.icon {
  width: 3.19%;
  height: 1.63%;
  position: absolute;
  right: 95.22%;
  left: 1.59%;
  bottom: 100%;
  top: -1.63%;
  overflow: visible;
}
.table-top {
  display: flex;
  flex-direction: row;
  gap: 75px;
  row-gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  width: 341px;
  position: absolute;
  left: 669px;
  top: 305px;
}
.create {
  color: #475367;
  text-align: left;
  font-family: "PalanquinDark-Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 700;
  position: relative;
  width: 80px;
}
.update {
  color: #475367;
  text-align: left;
  font-family: "PalanquinDark-Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 700;
  position: relative;
  width: 65px;
}
.delete {
  color: #475367;
  text-align: left;
  font-family: "PalanquinDark-Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 700;
  position: relative;
  width: 46px;
}
.divider-line-horizontal {
  flex-shrink: 0;
  width: 340px;
  height: 0px;
  position: relative;
  overflow: visible;
}
