<div class="pearl-jam-black">
  <div class="rectangle-329"></div>
  <div class="button">
    <div class="text">Aceptar</div>
  </div>
  <div class="button2">
    <div class="text">Cancelar</div>
  </div>
  <div class="new-goal-contribution">New Goal Contribution</div>
  <div class="frame-226">
    <div class="frame-66">
      <div class="e-mail">Amount</div>
    </div>
    <img class="icons" src="icons0.svg" />
    <div class="line-5"></div>
    <div class="line-6"></div>
    <div class="frame-239229">
      <div class="due-date">Due Date</div>
      <img class="icons2" src="icons1.svg" />
    </div>
    <div class="frame-239230">
      <div class="goal-name">Goal Name</div>
    </div>
    <img class="icon" src="icon0.svg" />
  </div>
  <div class="table-top">
    <div class="create">Create</div>
    <div class="update">Update</div>
    <div class="delete">Delete</div>
    <img class="divider-line-horizontal" src="divider-line-horizontal0.svg" />
  </div>
</div>
