.content,
.content * {
  box-sizing: border-box;
}
.content {
  background: #dcdcd1;
  border-radius: 0px 0px 0px 15px;
  height: 944px;
  position: absolute;
  overflow: hidden;
  margin-left: 220px;
  margin-right: 100px;
  margin-bottom: -10px;
  top: 63px;
  width: 100%;
}
.weolcome-buttons {
  width: 1121px;
  height: 53px;
  position: absolute;
  left: 36px;
  top: 17px;
}
.my-transactions {
  color: #000000;
  text-align: left;
  font-family: "PalanquinDark-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 358px;
  height: 33px;
}
.all-tickets {
  border-radius: 15px;
  padding: 24px 1px 24px 1px;
  height: 852px;
  position: absolute;
  right: 20px;
  left: 20px;
  top: 70px;
  overflow: hidden;
}
.cards-default {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -5px;
  top: 5px;
}
.sheet {
  background: rgba(255, 255, 255, 0);
  border-radius: 8px;
  border-style: solid;
  border-color: #bababa;
  border-width: 1px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.all-transactions {
  color: var(--grayscale-black, #252733);
  text-align: left;
  font-family: "PalanquinDark-Bold", sans-serif;
  font-size: 19px;
  letter-spacing: 0.4px;
  font-weight: 700;
  position: absolute;
  left: 1px;
  top: 24px;
  width: 400px;
}
.sort {
  position: absolute;
  inset: 0;
}
.sort2 {
  color: var(--grayscale-gray-dark, #4b506d);
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 600;
  position: absolute;
  right: 370.5px;
  top: 24px;
}
.icon-sort {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 408.5px;
  top: 25px;
  overflow: visible;
}
.filter {
  position: absolute;
  inset: 0;
}
.filter2 {
  color: var(--grayscale-gray-dark, #4b506d);
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 600;
  position: absolute;
  right: 16.25px;
  top: 24px;
}
.icon-filter {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 60.25px;
  top: 25px;
  overflow: visible;
}
.table-top {
  width: 1120px;
  height: 30px;
  position: absolute;
  left: 260px;
  top: 103px;
}
.transactions-details {
  color: #475367;
  text-align: left;
  font-family: "PalanquinDark-Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 700;
  position: absolute;
  right: 649px;
  left: 31px;
  top: 0px;
}
.category-name {
  color: #475367;
  text-align: left;
  font-family: "PalanquinDark-Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 700;
  position: absolute;
  right: 401px;
  top: 0px;
  width: 208px;
}
.amount {
  color: #475367;
  text-align: left;
  font-family: "PalanquinDark-Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 700;
  position: absolute;
  right: 77px;
  top: 0px;
  width: 104px;
}
.date {
  color: #475367;
  text-align: left;
  font-family: "PalanquinDark-Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 700;
  position: absolute;
  right: 221px;
  top: 0px;
  width: 140px;
}
.divider-line-horizontal {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 30px;
  overflow: visible;
}
.frame-239184 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1120px;
  position: absolute;
  left: 259px;
  top: 132.73px;
}
.table-ticket-priority-normal {
  border-radius: 15px;
  flex-shrink: 0;
  width: 1120px;
  height: 92px;
  position: relative;
}
.content2 {
  position: absolute;
  inset: 0;
}
.icon-more-vertical {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 31px;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
}
.chip-priority-normal {
  width: 76px;
  height: 24px;
  position: absolute;
  right: 105px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.group-239186 {
  position: absolute;
  inset: 0;
}
.sheet2 {
  background: #f15b64;
  border-radius: 100px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.title {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 12px;
  left: 12px;
  top: 50%;
  translate: 0 -50%;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time-label {
  color: #475367;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: absolute;
  right: 221px;
  top: calc(50% - -4px);
  width: 140px;
  height: 16px;
}
.date-label {
  color: var(--grayscale-black, #252733);
  text-align: left;
  font-family: "DmSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 600;
  position: absolute;
  right: 221px;
  top: calc(50% - 20px);
  width: 140px;
}
.date-customer {
  color: #475367;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: absolute;
  right: 401px;
  top: calc(50% - -4px);
  width: 208px;
  height: 16px;
}
.customer-name {
  color: var(--grayscale-black, #252733);
  text-align: left;
  font-family: "DmSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 600;
  position: absolute;
  right: 401px;
  top: calc(50% - 20px);
  width: 208px;
}
.ticket-information {
  color: #475367;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  font-weight: 400;
  position: absolute;
  right: 649px;
  left: 99px;
  top: calc(50% - -4px);
  height: 16px;
}
.ticket-name {
  color: var(--grayscale-black, #252733);
  text-align: left;
  font-family: "DmSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 600;
  position: absolute;
  right: 649px;
  left: 99px;
  top: calc(50% - 20px);
}
.icons {
  width: 2.86%;
  height: 34.78%;
  position: absolute;
  right: 93.84%;
  left: 3.3%;
  bottom: 32.61%;
  top: 32.61%;
  overflow: visible;
}
.divider-line-horizontal2 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.divider-line-horizontal3 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.icon-more-vertical2 {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 31px;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
}
.icons2 {
  width: 2.86%;
  height: 34.78%;
  position: absolute;
  right: 93.84%;
  left: 3.3%;
  bottom: 32.61%;
  top: 32.61%;
  overflow: visible;
}
.divider-line-horizontal4 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.divider-line-horizontal5 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.icon-more-vertical3 {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 31px;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
}
.sheet3 {
  background: #0ea49b;
  border-radius: 100px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.icons3 {
  width: 2.86%;
  height: 34.78%;
  position: absolute;
  right: 93.84%;
  left: 3.3%;
  bottom: 32.61%;
  top: 32.61%;
  overflow: visible;
}
.divider-line-horizontal6 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.divider-line-horizontal7 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.icon-more-vertical4 {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 31px;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
}
.icons4 {
  width: 2.86%;
  height: 34.78%;
  position: absolute;
  right: 93.84%;
  left: 3.3%;
  bottom: 32.61%;
  top: 32.61%;
  overflow: visible;
}
.divider-line-horizontal8 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.divider-line-horizontal9 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.icon-more-vertical5 {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 31px;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
}
.icons5 {
  width: 2.86%;
  height: 34.78%;
  position: absolute;
  right: 93.84%;
  left: 3.3%;
  bottom: 32.61%;
  top: 32.61%;
  overflow: visible;
}
.divider-line-horizontal10 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.divider-line-horizontal11 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.icon-more-vertical6 {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 31px;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
}
.icons6 {
  width: 2.86%;
  height: 34.78%;
  position: absolute;
  right: 93.84%;
  left: 3.3%;
  bottom: 32.61%;
  top: 32.61%;
  overflow: visible;
}
.divider-line-horizontal12 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.divider-line-horizontal13 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.icon-more-vertical7 {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 31px;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
}
.icons7 {
  width: 2.86%;
  height: 34.78%;
  position: absolute;
  right: 93.84%;
  left: 3.3%;
  bottom: 32.61%;
  top: 32.61%;
  overflow: visible;
}
.divider-line-horizontal14 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.divider-line-horizontal15 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.table-bottom {
  position: absolute;
  inset: 0;
}
.rows-per-page {
  width: 139px;
  height: 18px;
  position: static;
}
.rows-per-page2 {
  color: #475367;
  text-align: left;
  font-family: var(--regular-14px-font-family, "Mulish-Regular", sans-serif);
  font-size: var(--regular-14px-font-size, 14px);
  line-height: var(--regular-14px-line-height, 20px);
  letter-spacing: var(--regular-14px-letter-spacing, 0.3px);
  font-weight: var(--regular-14px-font-weight, 400);
  position: absolute;
  right: 317px;
  top: 807px;
  width: 106px;
  height: 18px;
}
._8 {
  color: var(--grayscale-gray-dark, #4b506d);
  text-align: right;
  font-family: var(--regular-14px-font-family, "Mulish-Regular", sans-serif);
  font-size: var(--regular-14px-font-size, 14px);
  line-height: var(--regular-14px-line-height, 20px);
  letter-spacing: var(--regular-14px-letter-spacing, 0.3px);
  font-weight: var(--regular-14px-font-weight, 400);
  position: absolute;
  right: 299px;
  top: 807px;
  width: 10px;
  height: 18px;
}
.icon-dropdown {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 284px;
  top: 810px;
  overflow: visible;
}
.pagination {
  width: 184px;
  height: 24px;
  position: static;
}
._1-8-of-1240 {
  color: #475367;
  text-align: right;
  font-family: var(--regular-14px-font-family, "Mulish-Regular", sans-serif);
  font-size: var(--regular-14px-font-size, 14px);
  line-height: var(--regular-14px-line-height, 20px);
  letter-spacing: var(--regular-14px-letter-spacing, 0.3px);
  font-weight: var(--regular-14px-font-weight, 400);
  position: absolute;
  right: 136px;
  top: 807px;
  width: 100px;
  height: 18px;
}
.icon-arrow-left {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 88px;
  top: 804px;
  overflow: visible;
}
.icon-arrow-right {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 52px;
  top: 804px;
  overflow: visible;
}
.top-63, .top-80, .main-content, .main-container, .transaction-history-container {
  top: 39px !important;
}
