<div class="content">
    <div class="weolcome-buttons">
      <div class="my-transactions">My Transactions</div>
    </div>
    <div class="all-tickets">
      <div class="cards-default">
        <div class="sheet"></div>
      </div>
      <div class="all-transactions">All Transactions</div>
      <div class="sort2">Sort</div>
      <img class="icon-sort" src="icon-sort0.svg" />
      <div class="filter2">Filter</div>
      <img class="icon-filter" src="icon-filter0.svg" />
      <div class="table-top">
        <div class="transactions-details">Transactions Details</div>
        <div class="category-name">Category name</div>
        <div class="amount">Amount</div>
        <div class="date">Date</div>
        <img class="divider-line-horizontal" src="divider-line-horizontal0.svg" />
      </div>
      <div class="frame-239184">
        <div class="table-ticket-priority-normal">
          <img class="icon-more-vertical" src="/assets/icons/dots-vertical.svg" />
          <div class="chip-priority-normal">
            <div class="sheet2"></div>
            <div class="title">$16.13</div>
          </div>
          <div class="time-label">5:00 PM</div>
          <div class="date-label">May 25, 2019</div>
          <div class="date-customer"></div>
          <div class="customer-name">Tourism</div>
          <div class="ticket-information">Updated 2 days ago</div>
          <div class="ticket-name">
            First invoice for a new client acquired in April
          </div>
          <img class="icons" src="/assets/icons/piggy-bank.png" />
          <img
            class="divider-line-horizontal2"
            src="divider-line-horizontal1.svg"
          />
          <img
            class="divider-line-horizontal3"
            src="divider-line-horizontal2.svg"
          />
        </div>
        <div class="table-ticket-priority-normal">
          <img class="icon-more-vertical2" src="/assets/icons/dots-vertical.svg" />
          <div class="chip-priority-normal">
            <div class="sheet2"></div>
            <div class="title">$65.06</div>
          </div>
          <div class="time-label">5:00 PM</div>
          <div class="date-label">May 25, 2019</div>
          <div class="date-customer"></div>
          <div class="customer-name">Art</div>
          <div class="ticket-information">Updated 2 days ago</div>
          <div class="ticket-name">
            Invoice for the delivery of office furniture
          </div>
          <img class="icons2" src="/assets/icons/piggy-bank.png" />
          <img
            class="divider-line-horizontal4"
            src="divider-line-horizontal3.svg"
          />
          <img
            class="divider-line-horizontal5"
            src="divider-line-horizontal4.svg"
          />
        </div>
        <div class="table-ticket-priority-normal">
          <img class="icon-more-vertical3" src="/assets/icons/dots-vertical.svg" />
          <div class="chip-priority-normal">
            <div class="sheet3"></div>
            <div class="title">$93.93</div>
          </div>
          <div class="time-label">5:00 PM</div>
          <div class="date-label">May 25, 2019</div>
          <div class="date-customer">Goal: Organize a remote event</div>
          <div class="customer-name">Workshop</div>
          <div class="ticket-information">Updated 2 days ago</div>
          <div class="ticket-name">
            Invoice for a critical repair in an urgent situation
          </div>
          <img class="icons3" src="/assets/icons/piggy-bank.png" />
          <img
            class="divider-line-horizontal6"
            src="divider-line-horizontal5.svg"
          />
          <img
            class="divider-line-horizontal7"
            src="divider-line-horizontal6.svg"
          />
        </div>
        <div class="table-ticket-priority-normal">
          <img class="icon-more-vertical4" src="/assets/icons/dots-vertical.svg" />
          <div class="chip-priority-normal">
            <div class="sheet2"></div>
            <div class="title">$23.96</div>
          </div>
          <div class="time-label">5:00 PM</div>
          <div class="date-label">May 25, 2019</div>
          <div class="date-customer"></div>
          <div class="customer-name">Other</div>
          <div class="ticket-information">Updated 2 days ago</div>
          <div class="ticket-name">
            Invoice for a semi-annual software subscription
          </div>
          <img class="icons4" src="/assets/icons/piggy-bank.png" />
          <img
            class="divider-line-horizontal8"
            src="divider-line-horizontal7.svg"
          />
          <img
            class="divider-line-horizontal9"
            src="divider-line-horizontal8.svg"
          />
        </div>
        <div class="table-ticket-priority-normal">
          <img class="icon-more-vertical5" src="/assets/icons/dots-vertical.svg" />
          <div class="chip-priority-normal">
            <div class="sheet3"></div>
            <div class="title">$29.39</div>
          </div>
          <div class="time-label">5:00 PM</div>
          <div class="date-label">May 25, 2019</div>
          <div class="date-customer">Goal: Find work</div>
          <div class="customer-name">Finance</div>
          <div class="ticket-information">Updated 2 days ago</div>
          <div class="ticket-name">Delivery of Office Supplies</div>
          <img class="icons5" src="/assets/icons/piggy-bank.png" />
          <img
            class="divider-line-horizontal10"
            src="divider-line-horizontal9.svg"
          />
          <img
            class="divider-line-horizontal11"
            src="divider-line-horizontal10.svg"
          />
        </div>
        <div class="table-ticket-priority-normal">
          <img class="icon-more-vertical6" src="/assets/icons/dots-vertical.svg" />
          <div class="chip-priority-normal">
            <div class="sheet3"></div>
            <div class="title">$2.42</div>
          </div>
          <div class="time-label">5:00 PM</div>
          <div class="date-label">May 25, 2019</div>
          <div class="date-customer">Goal: Track &amp; Measure Speaker</div>
          <div class="customer-name">Education</div>
          <div class="ticket-information">Updated 2 days ago</div>
          <div class="ticket-name">Equipment Rental for Training</div>
          <img class="icons6" src="/assets/icons/piggy-bank.png" />
          <img
            class="divider-line-horizontal12"
            src="divider-line-horizontal11.svg"
          />
          <img
            class="divider-line-horizontal13"
            src="divider-line-horizontal12.svg"
          />
        </div>
        <div class="table-ticket-priority-normal">
          <img class="icon-more-vertical7" src="/assets/icons/dots-vertical.svg" />
          <div class="chip-priority-normal">
            <div class="sheet3"></div>
            <div class="title">$59.80</div>
          </div>
          <div class="time-label">5:00 PM</div>
          <div class="date-label">May 25, 2019</div>
          <div class="date-customer">Goal: Build my network</div>
          <div class="customer-name">Tech</div>
          <div class="ticket-information">Updated 2 days ago</div>
          <div class="ticket-name">IT Maintenance Subscription</div>
          <img class="icons7" src="/assets/icons/piggy-bank.png" />
          <img
            class="divider-line-horizontal14"
            src="divider-line-horizontal13.svg"
          />
          <img
            class="divider-line-horizontal15"
            src="divider-line-horizontal14.svg"
          />
        </div>
      </div>
      <div class="rows-per-page">
        <div class="rows-per-page2">Rows per page:</div>
        <div class="_8">8</div>
        <img class="icon-dropdown" src="icon-dropdown0.svg" />
      </div>
      <div class="pagination">
        <div class="_1-8-of-1240">1-8 of 1240</div>
        <img class="icon-arrow-left" src="icon-arrow-left0.svg" />
        <img class="icon-arrow-right" src="icon-arrow-right0.svg" />
      </div>
    </div>
  </div>
  