<div class="content">
  <div class="welcome">
    <div class="carga-de-archivos-csv">Carga de archivos CSV</div>
  </div>
  <div class="upload-place">
    <div class="frame-47">
      <img class="group-5" src="assets/img/Charge.circle.png" />
      <div class="drag-files-text">
        <div class="arrastre-y-suelte-sus-archivos-aqu">
          Arrastre y suelte sus archivos aquí
        </div>
        <div class="o-seleccionar-archivos">
          <span>
            <span class="o-seleccionar-archivos-span">o</span>
            <span class="o-seleccionar-archivos-span2">
              seleccionar archivos
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="transactions-history">
    <div class="archivos-de-programaci-n">Archivos de programación</div>
    <div class="table">
      <div class="table-column">
        <div class="table-header">
          <div class="name">Nombre</div>
        </div>
        <div class="table-header2">
          <div class="date">income_december.csv</div>
        </div>
        <div class="table-header2">
          <div class="date">expenses_q1.csv</div>
        </div>
        <div class="table-header2">
          <div class="date">marketing_leads.csv</div>
        </div>
      </div>
      <div class="table-column2">
        <div class="table-header">
          <div class="date2">Fecha</div>
        </div>
        <div class="table-header2">
          <div class="date">2025-12-25</div>
        </div>
        <div class="table-header2">
          <div class="date">2025-11-24</div>
        </div>
        <div class="table-header2">
          <div class="date">2025-11-21</div>
        </div>
      </div>
      <div class="table-column3">
        <div class="table-header">
          <div class="weigth">Peso</div>
        </div>
        <div class="table-header2">
          <div class="date">1.2 MB</div>
        </div>
        <div class="table-header2">
          <div class="date">850 KB</div>
        </div>
        <div class="table-header2">
          <div class="date">750 KB</div>
        </div>
      </div>
      <div class="table-column4">
        <div class="table-header">
          <div class="status">Estado</div>
        </div>
        <div class="table-header2">
          <div class="date3">Processing</div>
        </div>
        <div class="table-header2">
          <div class="date4">Faild</div>
        </div>
        <div class="table-header2">
          <div class="date5">Uploaded</div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-files">
    <div class="my-files2">
      <div class="my-files3">Mis archivos</div>
      <img class="icons" src="assets/icons/dots-three.svg" />
    </div>
    <div class="shedule-contacs">
      <div class="file-details">
        <img class="vector" src="assets/icons/file-xls.svg" />
        <div class="frame-16">
          <div class="gastos-t-1">gastos_t1</div>
          <div class="dec-24-2025">Dec 24, 2025</div>
        </div>
        <img class="icons-trash-1" src="assets/icons/trash.png" />
      </div>
      <div class="file-details2">
        <img class="vector2" src="assets/icons/file-csv.svg" />
        <div class="frame-16">
          <div class="marketing-oportunid">marketing_oportunid</div>
          <div class="dec-21-2025">Dec 21, 2025</div>
        </div>
        <img class="icons-trash-12" src="assets/icons/trash.png" />
      </div>
      <div class="file-details2">
        <img class="vector3" src="assets/icons/file-csv.svg" />
        <div class="frame-162">
          <div class="run-name">Run Name</div>
          <div class="nov-28-2025">Nov 28, 2025</div>
        </div>
        <img class="icons-trash-13" src="assets/icons/trash.png" />
      </div>
      <div class="file-details3">
        <img class="vector4" src="assets/icons/file-csv.svg" />
        <div class="frame-16">
          <div class="country-travel">Country Travel</div>
          <div class="oct-29-2025">Oct 29, 2025</div>
        </div>
        <img class="icons-trash-14" src="assets/icons/trash.png" />
      </div>
      <div class="file-details3">
        <img class="vector5" src="assets/icons/file-xls.svg" />
        <div class="frame-16">
          <div class="job-income">Job Income</div>
          <div class="sept-29-2025">Sept 29, 2025</div>
        </div>
        <img class="icons-trash-15" src="assets/icons/trash.png" />
      </div>
    </div>
    <div class="view-balance-history">
      <div class="ver-historial-de-archivos">Ver historial</div>
    </div>
  </div>
</div>
