<div class="the-warning-more">
    <div class="weolcome-buttons">
      <div class="my-profile">My Profile</div>
    </div>
    <div class="cambiar">Cambiar</div>
    <div class="frame-239183">
      <div class="jhon-doe">{{userInfo.firstName}} {{userInfo.lastName}}</div>
      <div class="jhondoe-example-com">{{userInfo.email}}</div>
      <div class="avatar-user-250">
        <div class="rectangle"></div>
        <div class="rectangle2"></div>
      </div>
      <div class="my-email-address">My email Address</div>
      <div class="ellipse-1697"></div>
    </div>
    <div class="frame-66">
      <div class="e-mail"></div>
    </div>
  </div>
  