.the-warning-more,
.the-warning-more * {
  box-sizing: border-box;
}
.the-warning-more {
  background: #dcdcd1;
  border-radius: 0px 0px 0px 15px;
  height: 944px;
  position: relative;
  overflow: hidden;
}
.weolcome-buttons {
  width: 1121px;
  height: 53px;
  position: absolute;
  left: 36px;
  top: 17px;
}
.my-profile {
  color: #000000;
  text-align: left;
  font-family: "PalanquinDark-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 358px;
  height: 33px;
}
.cambiar {
  color: #dcdcd1;
  text-align: left;
  font-family: "PalanquinDark-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: -12px;
  top: -226px;
}
.frame-239183 {
  border-radius: 15px;
  border-style: solid;
  border-color: #bababa;
  border-width: 1px;
  width: 1146px;
  height: 841px;
  position: absolute;
  left: 267px;
  top: 70px;
  overflow: hidden;
}
.group-239183 {
  position: absolute;
  inset: 0;
}
.jhon-doe {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 337px;
  top: 107px;
}
.jhondoe-example-com {
  color: #000000;
  text-align: left;
  font-family: "DmSans-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 337px;
  top: 153px;
}
.avatar-user-250 {
  background: #ffffff;
  border-radius: 125px;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 49px;
  top: 24px;
  overflow: hidden;
  aspect-ratio: 1;
}
.rectangle {
  background: #0ea49b;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 75px;
  top: 40px;
}
.rectangle2 {
  background: #0ea49b;
  border-radius: 375px;
  width: 375px;
  height: 375px;
  position: absolute;
  left: -62.5px;
  top: 167px;
}
.my-email-address {
  color: #000000;
  text-align: right;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16.850000381469727px;
  font-weight: 500;
  position: absolute;
  left: 29.96px;
  top: 644.04px;
  width: 152px;
  height: 25px;
}
.ellipse-1697 {
  background: #4182f9;
  border-radius: 50%;
  opacity: 0.1;
  width: 44.93px;
  height: 44.93px;
  position: absolute;
  left: 29.96px;
  top: 688.04px;
}
.frame-66 {
  background: #f9f9f9;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  width: 23.33%;
  height: 5.08%;
  position: absolute;
  right: 55.6%;
  left: 21.07%;
  bottom: 14.72%;
  top: 80.19%;
}
.e-mail {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 6px;
  top: 2px;
}
