<div class="content">
    <div class="weolcome-buttons">
      <div class="my-finances">My Finances</div>
    </div>
    <div class="income-vs-expenses">
      <div class="income-vs-expenses2">
        <div class="navigation-bars">
          <div class="container">
            <div class="wrapper">
              <div class="title">
                <div class="elements-text-box-nav-bar">
                  <div class="title2">Measurement for periods</div>
                </div>
              </div>
              <div class="icon-right">
                <div class="components">
                  <div class="master">
                    <div class="label">Round trip</div>
                    <div class="placeholder">
                      <div class="wrapper2">
                        <img class="arrows-arrows" src="arrows-arrows0.svg" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chart">
          <div class="components-data-x">
            <div class="elements-data-lines-x">
              <img class="elements-lines" src="elements-lines0.svg" />
              <div class="elements-legend-text">
                <div class="label2">Jan</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines2" src="elements-lines1.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Feb</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines3" src="elements-lines2.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Mar</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines4" src="elements-lines3.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Apr</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines5" src="elements-lines4.svg" />
              <div class="elements-legend-text2">
                <div class="label2">May</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines6" src="elements-lines5.svg" />
              <div class="elements-legend-text2">
                <div class="label3">Jun</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines7" src="elements-lines6.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Jul</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines8" src="elements-lines7.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Aug</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines9" src="elements-lines8.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Sep</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines10" src="elements-lines9.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Oct</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines11" src="elements-lines10.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Nov</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines12" src="elements-lines11.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Dec</div>
              </div>
            </div>
          </div>
          <img class="charts-custom" src="charts-custom0.svg" />
          <div class="tooltip">
            <div class="content2">
              <div class="text">from 766 $</div>
            </div>
            <img class="corner" src="corner0.svg" />
          </div>
        </div>
        <div class="chart">
          <div class="components-data-x2">
            <div class="elements-data-lines-x">
              <img class="elements-lines13" src="elements-lines12.svg" />
              <div class="elements-legend-text">
                <div class="label2">Jan</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines14" src="elements-lines13.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Feb</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines15" src="elements-lines14.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Mar</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines16" src="elements-lines15.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Apr</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines17" src="elements-lines16.svg" />
              <div class="elements-legend-text2">
                <div class="label2">May</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines18" src="elements-lines17.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Jun</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines19" src="elements-lines18.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Jul</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines20" src="elements-lines19.svg" />
              <div class="elements-legend-text2">
                <div class="label4">Aug</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines21" src="elements-lines20.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Sep</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines22" src="elements-lines21.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Oct</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines23" src="elements-lines22.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Nov</div>
              </div>
            </div>
            <div class="elements-data-lines-x">
              <img class="elements-lines24" src="elements-lines23.svg" />
              <div class="elements-legend-text2">
                <div class="label2">Dec</div>
              </div>
            </div>
          </div>
          <img class="charts-custom2" src="charts-custom1.svg" />
          <div class="tooltip2">
            <div class="content3">
              <div class="text">from 366 $</div>
            </div>
            <img class="corner2" src="corner1.svg" />
          </div>
        </div>
      </div>
      <div class="frame-221">
        <div class="transactions-history">Transactions history</div>
        <div class="view-all">
          <div class="view-all2">View All</div>
          <img class="icons" src="icons0.svg" />
        </div>
      </div>
      <div class="frame-218">
        <div class="frame-217">
          <div class="group-213">
            <div class="date-yyyy-mm-dd">1/8/25</div>
            <div class="name-expense-or-income">Taxi / Car Service</div>
          </div>
          <div class="group-212">
            <div class="money">$130</div>
            <img class="icons2" src="icons1.svg" />
          </div>
        </div>
        <div class="frame-2182">
          <div class="group-2132">
            <div class="date-yyyy-mm-dd">1/8/25</div>
            <div class="name-expense-or-income">Transfers</div>
          </div>
          <div class="group-2122">
            <div class="money2">$300</div>
            <img class="icons3" src="icons2.svg" />
          </div>
        </div>
        <div class="frame-219">
          <div class="group-2133">
            <div class="date-yyyy-mm-dd">5/8/25</div>
            <div class="name-expense-or-income">Owner Contributions</div>
          </div>
          <div class="group-2123">
            <div class="money3">$466</div>
            <img class="icons4" src="icons3.svg" />
          </div>
        </div>
        <div class="frame-220">
          <div class="group-2134">
            <div class="date-yyyy-mm-dd">10/8/25</div>
            <div class="name-expense-or-income">Breakfast</div>
          </div>
          <div class="group-2124">
            <div class="money4">$86</div>
            <img class="icons5" src="icons4.svg" />
          </div>
        </div>
        <div class="frame-2212">
          <div class="group-2135">
            <div class="date-yyyy-mm-dd">10/8/25</div>
            <div class="name-expense-or-income">Pizza Party</div>
          </div>
          <div class="group-2125">
            <div class="money5">$150</div>
            <img class="icons6" src="icons5.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="frame-222">
      <div class="frame-197">
        <div class="group-214">
          <div class="ellipse-91"></div>
          <div class="ellipse-103"></div>
          <div class="ellipse-93"></div>
          <div class="ellipse-92"></div>
          <div class="s-3-925">S/. 3,925</div>
        </div>
        <div class="group-218">
          <div class="_38">38%</div>
          <div class="ellipse-94"></div>
        </div>
        <div class="group-217">
          <div class="_21">21%</div>
          <div class="ellipse-95"></div>
        </div>
        <div class="group-216">
          <div class="_24">24%</div>
          <div class="ellipse-96"></div>
        </div>
        <div class="group-215">
          <div class="_17">17%</div>
          <div class="ellipse-97"></div>
        </div>
      </div>
      <div class="frame-2213">
        <div class="category-chart">Category Chart</div>
        <div class="view-all">
          <div class="view-all2">View All</div>
          <img class="icons7" src="icons6.svg" />
        </div>
      </div>
      <div class="tasks">
        <div class="cards-default"></div>
        <div class="frame-223">
          <div class="task-4">
            <div class="food">Food</div>
            <div class="chip-default-warning">
              <div class="sheet"></div>
              <div class="title3">$ 1491,50</div>
            </div>
            <img
              class="controls-checkbox-active"
              src="controls-checkbox-active0.svg"
            />
            <div class="divider-line-horizontal"></div>
          </div>
          <div class="task-1">
            <div class="healtcare">Healtcare</div>
            <div class="chip-default-warning2">
              <div class="sheet2"></div>
              <div class="title3">$ 942,00</div>
            </div>
            <img
              class="controls-checkbox-active2"
              src="controls-checkbox-active1.svg"
            />
            <div class="divider-line-horizontal"></div>
          </div>
          <div class="task-2">
            <div class="education">Education</div>
            <div class="chip-default-success">
              <div class="sheet3"></div>
              <div class="title3">$ 824,25</div>
            </div>
            <img
              class="controls-checkbox-active3"
              src="controls-checkbox-active2.svg"
            />
            <div class="divider-line-horizontal"></div>
          </div>
          <div class="task-3">
            <div class="utilities">Utilities</div>
            <div class="chip-default-gray">
              <div class="sheet4"></div>
              <div class="title3">$ 667,25</div>
            </div>
            <img
              class="controls-checkbox-active4"
              src="controls-checkbox-active3.svg"
            />
          </div>
          <div class="task-5">
            <div class="oficce">Oficce</div>
            <div class="chip-default-gray">
              <div class="sheet5"></div>
              <div class="title4">Default</div>
            </div>
            <div class="controls-checkbox-inactive">
              <div class="circle"></div>
            </div>
          </div>
          <div class="task-6">
            <div class="entertainment">Entertainment</div>
            <div class="chip-default-gray">
              <div class="sheet5"></div>
              <div class="title4">Default</div>
            </div>
            <div class="controls-checkbox-inactive">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <div class="frame-224">
          <div class="categories-movements">Categories Movements</div>
          <div class="view-all3">
            <div class="add-movement">Add Movement</div>
            <img class="icons8" src="icons7.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  