<div class="navbar">
  <div class="dashboard">DASHBOARD</div>
  <div class="user-profile-icon">
    <div class="circle button-hover" (click)="goToDashboard()">
      <img class="chart-pie" src="/assets/icons/chart-pie.svg" />
    </div>
    <div class="circle button-hover" (click)="showNotifications()">
      <img class="notification" src="/assets/icons/notification.svg" />
    </div>
    <div class="user-dropdown">
      <div class="frame-5 button-hover" (click)="toggleUserMenu()">
        <div class="avatar-user-32">
          <div class="rectangle"></div>
          <div class="rectangle2"></div>
        </div>
        <div class="jhon-doe">{{ userInfo?.firstName + ' ' + userInfo?.lastName || 'John Doe' }}</div>
        <img class="icons" src="/assets/icons/down.svg" />
      </div>
  
    </div>
  </div>
</div>

<div *ngIf="showMenu" class="user-menu">
  <div class="user-role">Rol: {{ userInfo?.role || 'Usuario' }}</div>
  <button class="logout-btn" (click)="logout()">Cerrar sesión</button>
</div>